<!DOCTYPE html>

<meta charset="utf-8">
<title>The Title Of Your Presentation</title>

<!-- Optional: on every page: header and footer -->
<header>
  Agile Girls
</header>

<footer>by Laura Lacarra</footer>

<!-- Your Slides -->
<!-- One section is one slide -->

<section>
    <!-- This is the first slide -->
    <h1>Django Workshop</h1>
    <footer>by Laura Lacarra</footer>
</section>

<section>
    <h3>Create django env</h3>
    <p>python3 -m venv myenv</br>
       </br>
       </br>
       $source myenv/bin/activate</br>
    </p>
</section>

<section>
    <h3>Init the project</h3>
    <p>mkdir mysite</br>
       $pip install django==1.9</br>
    </p>
</section>
<section>
    <h3>Create requirements.txt</h3>
    <p>
       django==1.9</br>
       <br>
       Try!! <br>
        $pip install -r requirements.txt<br>
    </p>
</section>

<section>
    <h3>Init the project</h3>
    <p>
       $django-admin.py startproject mysite .</br>
    </p>
</section>
<section>
    <h3>Init first app</h3>
    <p>
       $python3 manage.py startapp partners</br>
    </p>
</section>
<section>
    <h3>Runserver</h3>
    <p>
       $python3 manage.py runserver</br>
    </p>
</section>
<section>
    <h3>Check your site!</h3>
    <p>
      <a href="http://localhost:8000/">http://localhost:8000</a></br>
    </p>
</section>
<section>
    <figure> <!-- Figures are used to display images and videos fullpage -->
      <img src="img/itworked.png" >
    </figure>
</section>

<section>
    <h3>Runserver (more options)</h3>
    <p>
      $python3 manage.py runserver localhost:9999</br>
    </p>
</section>
<section>
    <h3>settings.py</h3>
    <p>
      #INSTALLED_APPS<br>add partners</br>
    </p>
</section>
<section>
    <figure> <!-- Figures are used to display images and videos fullpage -->
      <img src="img/setting_INSTALLED_APPS.png">
    </figure>
</section>
<section>
    <h3>settings.py</h3>
    <p>
      #Set time zone</br>
      TIME_ZONE = 'Europe/Berlin'<br>
    </p>
</section>
<section>
    <h3>My first model in partners/models.py</h3>
    <p class="file_title">models.py</p>
    <p class="code">from django.db import models</br>
      from django.utils import timezone</br>
</br>
      # Create your models here.</br>
      class Partner(models.Model):</br>
      &nbsp;&nbsp;&nbsp;&nbsp;email = models.EmailField(max_length=200, null=False)</br>
      &nbsp;&nbsp;&nbsp;&nbsp;name = models.CharField(max_length=200, null=False)</br>
      &nbsp;&nbsp;&nbsp;&nbsp;lastname = models.CharField(max_length=200, null=False)</br>
      &nbsp;&nbsp;&nbsp;&nbsp;address = models.CharField(max_length=200, null=False)</br>
      &nbsp;&nbsp;&nbsp;&nbsp;city = models.CharField(max_length=50, null=False)</br>
      &nbsp;&nbsp;&nbsp;&nbsp;created_date = models.DateTimeField(default=timezone.now)</br>
       </br>
    </p>
</section>
<section>
    <h3>Model field types</h3>
    <p>
      <a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#model-field-types">Lots of options!</a><br>
    </p>
</section>
<section>
    <h3>Set the data base</h3>
    <p>
      $python3 manage.py makemigrations partners</br>
      $python3 manage.py migrate</br>
    </p>
</section>
<section>
    <h3>Set the model in admin</h3>
    <p>
      admin.site.register(Partner)</br>
    </p>
    <p class="code">
    from django.contrib import admin<br>
    from .models import Partner<br>
<br>
    # Register your models here.<br>
    admin.site.register(Partner)<br>
    <br>
</section>
<section>
    <h3>Create a user in admin</h3>
    <p>
      $python3 manage.py createsuperuser</br>
    </p>
</section>

<section>
    <h3>Check you admin site!</h3>
    <p>
      <a href="http://localhost:8000/admin">http://localhost:8000/admin</a></br>
    </p>
</section>
<section>
    <h3>Create a partner in admin site</h3>
    <p>
      <a href="http://localhost:8000/admin">http://localhost:8000/admin</a></br>
    </p>
</section>
<section>
    <h3>Add this in urls.py of main folder</h3>
    <p>  
      url(r'', include('partners.urls')),</br>
    </p>
</section>
<section>
    <h3>urls.py</h3>
    <p class="code">  
    from django.conf.urls import url<mark>, include</mark><br>
    from django.contrib import admin<br>
<br>
    urlpatterns = [<br>
    &nbsp;&nbsp;&nbsp;&nbsp;    url(r'^admin/', admin.site.urls),<br>
    <mark>&nbsp;&nbsp;&nbsp;&nbsp;    url(r'', include('partners.urls')),</mark><br>
    ]<br>
    </p>
</section>
<section>
  <blockquote>
    ImportError: No module named 'partners.urls'
  </blockquote>
</section>

<section>
    <h3>Create partners/urls.py</h3>
    <p class="code"> 
      from django.conf.urls import url<br>
      from . import views<br>
      <br>
      urlpatterns = [<br>
      &nbsp;&nbsp;&nbsp;&nbsp;url(r'^$', views.partners_list, name="partners"),<br>
      ]<br><br>
    </p>
</section>
<section>
  <blockquote>
    AttributeError: module 'partners.views' has no attribute 'partners_list'
  </blockquote>
</section>
<section>
    <h3>Create def partners_list in partners/view.py</h3>
    <p class="code"> 
    from django.shortcuts import render<br>
    <br><br>

# Create your views here.<br>
      <mark>def partners_list(request):<br>
      &nbsp;&nbsp;&nbsp;&nbsp;return render(request, 'partners/partners.html', {})
      </mark>
      <br>
      <br>
    </p>
</section>
<section>
  <blockquote>
    django.template.exceptions.TemplateDoesNotExist: partners/partners.html
  </blockquote>
</section>



<section>
    <h3>Create folder partners/templates/partners</h3>
    <p>Create empty file partners.html
    </p>
</section>
<section>
    <h3>Check your site!</h3>
    <p>
      <a href="http://localhost:8000/">http://localhost:8000</a></br>
    </p>
</section>
<section>
    <figure> <!-- Figures are used to display images and videos fullpage -->
      <img src="img/empty.png" >
    </figure>
</section>
<section>
    <h3>Create folder partners/static</h3>
    <p>Copy from <i>init</i> all folders <a href="https://github.com/lauralacarra/django_workshop/tree/master/init/static">(see here at github)</a><br> css, fonts, images, js, sass<br><u>into new folder partners/static</u>
    </p>
</section>
<section>
    <h3>Partners.html</h3>
    <p>Replace from <i>init</i>   <a href="https://github.com/lauralacarra/django_workshop/tree/master/init/templates/partners">(see here at github)</a><br> the file templates/partners/partners.html <br><u>into file partners/templates/partners/partners.html</u>  
    </p>
</section>
<section>
    <h3>Check your site!</h3>
    <p>
      <a href="http://localhost:8000/">http://localhost:8000</a></br>
    </p>
</section>
<section>
    <figure> <!-- Figures are used to display images and videos fullpage -->
      <img src="img/partnershtml.png">
    </figure>
</section>
<section>
    <h3>partners.html</h3>
    <p class="code">< !-- All references have changed to static.--><br>
    < !-- Before <br>
    < script src="js/jquery.min.js"></ script><br>
    --><br>
    < !-- After --> <br>
    < script src="{% static 'js/jquery.min.js' %}"></ script><br>
</section>
<section>
    <h3>Our first Query Set</h3>
    <p>Get the partners list<br>
    partners/views.py<br>      
    <p class="code">
    from django.shortcuts import render<br>
    <mark>from .models import Partner</mark><br>
    <br>
    # Create your views here.<br>
def partners_list(request):<br>
    &nbsp;&nbsp;&nbsp;&nbsp;<mark>partners = Partner.objects.order_by('name')</mark><br>
    &nbsp;&nbsp;&nbsp;&nbsp;return render(request, 'partners/partners.html', <mark>{'partners': partners})</mark><br>
     </p>
</section>
<section>
    <h3>Query Sets (Work at home!)</h3>
    <p><a href="https://docs.djangoproject.com/en/1.10/ref/models/querysets/#methods-that-return-new-querysets">Query sets</a><p>
</section>
<section>
    <h3>Show partners</h3>
    <p>partners.html<br>
    <p class="code"> {% for partner in partners %}<br>
      &nbsp;&nbsp;&nbsp;&nbsp;< h5>{{ partner.name }} {{partner.lastname}}< /h5><br>
      {% endfor %}<br>
     </p>
</section>
<section>
    <h3>Play with template times (work at home!)</h3>
    <p>partners.html<br>
    <a href="https://docs.djangoproject.com/en/1.10/ref/templates/builtins/#for">For</a><br>
    <a href="https://docs.djangoproject.com/en/1.10/ref/templates/builtins/#if">If</a><br>
    <a href="https://docs.djangoproject.com/en/1.10/ref/templates/builtins/#ifchanged">Ifchanged</a><br>
    <a href="https://docs.djangoproject.com/en/1.10/ref/templates/builtins/#now">Now</a><br>
    <a href="https://docs.djangoproject.com/en/1.10/ref/templates/builtins/#lorem">Lorem</a>
     </p><br>
</section>
<section>
    <h3>Copy partners.html to base.html</h3>
    <p>At base.html:<br>
    Leave the header and footer and replace the main body {% block ... %}</p>
      <p class="code">{% block content %}<br>
      {% endblock %}<br>
     </p>
</section>
<section>
    <figure> <!-- Figures are used to display images and videos fullpage -->
      <img src="img/basehtml.png">
    </figure>
</section>
<section>
    <h3>Set the main body into partners.html</h3>
      <p>Delete all content except the body<br>
      Put {% extends 'partners/base.html' %} on the top</p><br>
       <p class="code"><br>
       {% extends 'partners/base.html' %}<br>
        {% block content %}<br>
         &nbsp;&nbsp;&nbsp;&nbsp;< h1>Partners</h1><br>
         &nbsp;&nbsp;&nbsp;&nbsp;{% for partner in partners %}<br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;< h5>< a href="">{{ partner.name }} {{partner.lastname}}</ a></ h5><br>
         &nbsp;&nbsp;&nbsp;&nbsp;{% endfor %}<br>
         {% endblock content %}<br>
     </p>
    </section>
<section>
    <figure> <!-- Figures are used to display images and videos fullpage -->
      <img src="img/partners.png">
    </figure>
</section>
<section>
    <h3>Check your site!</h3>
    <p>
      <a href="http://localhost:8000/">http://localhost:8000</a></br>
    </p>
</section>
<section>
    <figure> <!-- Figures are used to display images and videos fullpage -->
      <img src="img/onepartner.png">
    </figure>
</section>
<section>
    <h3>Create partners/forms.py</h3>
    <p class="code">
      from django import forms<br>
      from .models import Partner<br>
<br>
<br>
      class PartnerForm(forms.ModelForm):<br>
<br>
      &nbsp;&nbsp;&nbsp;&nbsp;class Meta:<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;model = Partner<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;exclude = ('created_date', )<br>
    </p>
</section>
<section>
    <h3>Create partners/templates/partner_edit.html</h3>
    <p><a href="https://docs.djangoproject.com/en/1.10/topics/forms/#form-rendering-options">See rendering forms</a></p>
      <p class="code">
      {% extends 'partners/base.html' %}<br>
      {% block content %}<br>
      &nbsp;&nbsp;&nbsp;&nbsp;< h1>Partner</h1><br>
      &nbsp;&nbsp;&nbsp;&nbsp;< form method="POST">{% csrf_token %} <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.as_p }}<br>
     &nbsp;&nbsp;&nbsp;&nbsp;< div class="form-group"><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;< input type="submit" value="Save" class="btn btn-primary"><br>
    &nbsp;&nbsp;&nbsp;&nbsp;</ div><br>
      {% endblock content %}<br>
  <br>
     </p>
</section>
<section>
    <h3>Change partners/urls.py</h3>
      <p class="code">
      from django.conf.urls import url<br>
      from . import views<br>
      <br>
      urlpatterns = [<br>
      &nbsp;&nbsp;&nbsp;&nbsp;url(r'^<mark>partners/</mark>$', views.partners_list, name='partners'),<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<mark>url(r'^partners/new$', views.partner_new, name='partner_new')<br></mark>
      ]<br>
     </p>
</section>

<section>
    <h3>Check your site!</h3>
    <p>
      <a href="http://localhost:8000/">http://localhost:8000</a></br>
      <a href="http://localhost:8000/partners">http://localhost:8000/partners</a></br>
    </p>
</section>
<section>
  <blockquote>
    AttributeError: module 'partners.views' has no attribute 'partner_new'
  </blockquote>
</section>
<section>
    <h3>Create def partner_new in partners/view.py</h3>
    <p class="code"> 
    from django.shortcuts import render<mark>, redirect</mark><br>
from .models import Partner<br>
<mark>from .forms import PartnerForm<br></mark>
<mark>from django.utils import timezone<br></mark>
<br>
<br>
def partners_list(request):<br>
    ...<br>
<br>
<br>
<mark>def partners_new(request):<br>
&nbsp;&nbsp;&nbsp;&nbsp;    form = PartnerForm()<br>
&nbsp;&nbsp;&nbsp;&nbsp;    if request.method == 'POST':<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        form = PartnerForm(request.POST)<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        if form.is_valid():<br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;           post = form.save(commit=False)<br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;           post.created_date = timezone.now()<br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;           post.save()<br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;           return redirect('partners.views.partners_list')<br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   return render(request, 'partners/partner_edit.html', {'form': form})<br>
      <br></mark>
    </p>
</section>


<section>
    <h3>Create a new partner</h3>
    <p>
      <a href="http://localhost:8000/partners">http://localhost:8000/partners</a></br>
      or<br>
      <a href="http://localhost:8000/partners/new">http://localhost:8000/partners/new</a></br>
    </p>
</section>
<section>
    <figure> <!-- Figures are used to display images and videos fullpage -->
      <img src="img/formnew.png">
    </figure>
</section>
<section>
    <figure> <!-- Figures are used to display images and videos fullpage -->
      <img src="img/finish.png">
    </figure>
</section>
<section>
    <h3>Add link to "New partner"</h3>
    <p>base.html</p>
    <p class="code">
    < !-- Set into href of New partner--><br>
    {% url 'partner_new' %}<br>
    </p>
</section>
<section>
    <h3>Create def partner_edit in partners/view.py</h3>
    <p class="code">
    from django.shortcuts import render, redirect<mark>, get_object_or_404</mark><br>
    ...
    <br>
    <br>
    def partners_list(request):<br>
    &nbsp;&nbsp;&nbsp;&nbsp;    ...<br>
        <br>
        <br>
    def partner_new(request):<br>
    &nbsp;&nbsp;&nbsp;&nbsp;    ...<br>
        <br>
        <br>
    <mark>def partner_edit(request, pk):<br>
    &nbsp;&nbsp;&nbsp;&nbsp;    partner = get_object_or_404(Partner, pk=pk)<br>
    &nbsp;&nbsp;&nbsp;&nbsp;    if request.method == "POST":<br>
    &nbsp;&nbsp;&nbsp;&nbsp;        form = PartnerForm(request.POST, instance=partner)<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        if form.is_valid():<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            partner = form.save()<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            return redirect('partners.views.partners_list')<br>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   else:<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        form = PartnerForm(instance=partner)<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    return render(request, 'partners/partner_edit.html', {'form': form})<br>
    </mark>    <br>
    </p>
</section>
<section>
    <h3>Add link to "Edit partner"</h3>
    <p>partners.html</p>
    <p class="code">
    < !-- Set into href of list partners--><br>
    {% url 'partner_edit' partner.id %}<br>
    </p>
</section>
<section>
    <h3>Change urls.py</h3>
    <p class="code">
    from django.conf.urls import url<br>
    from . import views<br>
    <br>
    urlpatterns = [<br>
    &nbsp;&nbsp;&nbsp;&nbsp;    url(r'^partners/$', views.partners_list, name='partners'),<br>
    &nbsp;&nbsp;&nbsp;&nbsp;    url(r'^partners/new$', views.partner_new, name='partner_new'),<br>
    &nbsp;&nbsp;&nbsp;&nbsp;<mark>url(r'^partners/edit$', views.partner_edit, name='partner_edit'),</mark><br>
    ]<br>
    </p>
</section>
<section>
  <blockquote>
    django.core.urlresolvers.NoReverseMatch: Reverse for 'partner_edit' with arguments '(2,)' and keyword arguments '{}' not found. 1 pattern(s) tried: ['partners/edit$']
  </blockquote>
</section>
<section>
    <h3>Change urls.py</h3>
    <p class="code">
    from django.conf.urls import url<br>
    from . import views<br>
    <br>
    urlpatterns = [<br>
    &nbsp;&nbsp;&nbsp;&nbsp;    url(r'^partners/$', views.partners_list, name='partners'),<br>
    &nbsp;&nbsp;&nbsp;&nbsp;    url(r'^partners/new$', views.partner_new, name='partner_new'),<br>
    &nbsp;&nbsp;&nbsp;&nbsp;<mark>url(r'^partners/edit/(?P<pk>[0-9]+)/$', views.partner_edit, name='partner_edit'),</mark><br>
    ]<br>
    </p>
</section>
<section>
    <h3>Check edit!</h3>
    <p>
      <a href="http://localhost:8000/partners">http://localhost:8000/partners</a></br>
    </p>
</section>
<section>
    <figure> <!-- Figures are used to display images and videos fullpage -->
      <img src="img/formedit.png">
    </figure>
</section>
<section>
    <figure> <!-- Figures are used to display images and videos fullpage -->
      <img src="img/finish.png">
    </figure>
</section>
<section>
    <h3>Finish! Add link to "Home"</h3>
    <p>base.html</p>
    <p class="code">
    < !-- Set into href home --><br>
    {% url 'partners' %}<br>
    </p>
</section>
<section>
  <h3>Make your form pretty</h3>
  <p><a href="https://docs.djangoproject.com/en/1.10/topics/forms/#looping-over-the-form-s-fields">Looping over the form fields</a>
  <br>
  <a href="https://github.com/kmike/django-widget-tweaks">django-widget-tweaks</a>
  </p> 
</section>
<section>
    <h3>Home work</h3>
    <p>
      <span><a href="https://docs.djangoproject.com/en/1.10/topics/testing/overview/">Do test</a></span><br>
      <span><a href="https://tutorial.djangogirls.org/es/deploy/">Deploy!</a></span><br>
      <span><a href="https://docs.djangoproject.com/en/1.10/ref/models/instances/#deleting-objects">Create delete button</span></a><br>
      <span><a href="https://docs.djangoproject.com/es/1.9/topics/forms/modelforms/#a-full-example">Create more model</span></a><br>
      <span><a href="https://thinkster.io/django-angularjs-tutorial">If you know Angular... </a></span><br>
    </p>
</section>
<section>
    <h3>Docs</h3>
    <p>
      <span><a href="https://tutorial.djangogirls.org/es/">Django girls tutorial</a></span><br>
      <span><a href="https://docs.djangoproject.com/en/1.10/">Django documentation</a></span><br>
      <span><a href="http://djangobook.com/">Django book</a></span><br>
      <span><a href="https://www.twoscoopspress.com/products/two-scoops-of-django-1-8">Two Scoops of Django: Best Practices for Django 1.8</a></span><br>
      </p>
</section>
<section>
    <h3>Thank you!</h3>
    <p>
       <span>Thanks <a href="https://twitter.com/yamila_moreno">Yamila</a> & <a href="https://twitter.com/Laura_Morillo">Laura Morillo</a></span><br><br>
       <span><a href="http://www.meetup.com/es/Madrid-Python-Meetup/messages/79235013/?chapter_analytics_code=UA-5340683-12&messageId=79235013">Thanks python learn madrid</a>. Specially <a href="https://twitter.com/bameda">@bameda</a></span><br>
       <br>
       <span><a href="https://twitter.com/lauralacarra">Laura Lacarra</a></span><br>
    </p>
</section>

<!-- Your Style -->
<!-- Define the style of your presentation -->

<!-- Maybe a font from http://www.google.com/webfonts ? -->
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>

<style>
  html, .view body { background-color: black; counter-reset: slideidx; }
  body, .view section {
    background-color: white; border-radius: 12px;
    font-family: 'Oswald', arial, serif;
  }

  section, .view head > title {
      font-size: 2rem;
  }

  .view section:after {
    counter-increment: slideidx;
    content: counter(slideidx, decimal-leading-zero);
    position: absolute; bottom: -80px; right: 100px;
    color: white;
  }

  .view head > title {
    color: white;
    text-align: center;
    margin: 1em 0 1em 0;
  }

  h1 {
    margin: 120px 0 30px 0;
    text-align: center;
    font-size: 5rem;
  }

  h2 {
    text-align: center;
  }

  section > h3 {
    margin: 50px 50px 40px 50px;
    border-bottom: 0.1px solid;
  }

  pre {
    overflow: hidden;
    font-size: 1.25rem;
    margin: 0 75px 0 75px;
    padding: 10px;
    border: 1px solid;
    font-weight: bold;
    background-color: #F7F7F7;
    width:80%
  }

  ul, ol {
      margin: 40px 100px 0 100px;
  }

  li > ul, ol {
      margin: 0 0 15px 50px;
      list-style-image: none; /* in case parent list has some */
  }

  mark.next:not([active]) {
    visibility: visible; /* override the default behavior where next is hidden */
    background-color: inherit; /* and disable highlighting instead */
  }

  p {
    margin: 75px 75px 0 75px;
    font-size: 2rem;
  }

  .file_title {
    margin: 20px 75px 0 75px;
    font-size: 2rem;
    font-family: console;
  }

  .code {
    margin: 20px 75px 0 75px;
    font-size: 1rem;
    font-family: Consolas;
  }
  table {
    margin: auto;
    font-size:2.5rem;
    text-align: center;
  }

  blockquote {
    height: 100%;
    background-color: black;
    color: white;
    font-size: 3.75rem;
    padding: 50px;
  }
  blockquote:before {
    content: open-quote;
  }
  blockquote:after {
    content: close-quote;
  }

  /* Figures are displayed full-page, with the caption
     on top of the image/video */
  figure {
    background-color: black;
    width: 100%;
    height: 100%;
  }
  figure > * {
    position: absolute;
  }
  figure > img, figure > video {
    width: 100%; height: 100%;
  }
  figcaption {
    margin: 70px;
    font-size: 3rem;
  }

  header {
    background-color: #F3F4F8;
    border-bottom: 1px solid #CCC;
  }

  footer {
    background-color: #F3F4F8;
    border-top: 1px solid #CCC;
    padding-bottom: 4px; /* remember progress bar */
  }

  section footer {
    padding: 10px;
  }

  /* Transition effect */
  /* Feel free to change the transition effect for original
     animations. See here:
     https://developer.mozilla.org/en/CSS/CSS_transitions
     How to use CSS3 Transitions: */
  section {
    transition: left 400ms linear 0s;
  }
  .view section {
    transition: none;
  }

  .view section[aria-selected] {
    border: 5px red solid;
  }

@media screen {
  /* Before */
  section { left: -150%; }
  /* Now */
  section[aria-selected] { left: 0; }
  /* After */
  section[aria-selected] ~ section { left: +150%; }
}

  /* The progressbar, at the bottom of the slides, show the global
     progress of the presentation. */
  #progress-bar {
    height: 4px;
    background: #AAA;
  }
</style>

<!-- {{{{ dzslides core
#
#
#     __  __  __       .  __   ___  __
#    |  \  / /__` |    | |  \ |__  /__`
#    |__/ /_ .__/ |___ | |__/ |___ .__/ core :€
#
#
# The following block of code is not supposed to be edited.
# But if you want to change the behavior of these slides,
# feel free to hack it!
#
-->

<div id="progress-bar"></div>

<!-- Default Style -->
<style>
  * { margin: 0; padding: 0; box-sizing: border-box; }
  [role="note"] { display: none; }
  html {
    font-size: 16px;
  }
  body {
    width: 800px; height: 600px;
    position: absolute; top: 50%; left: 50%;
    overflow: hidden;
    display: none;
  }
  .view body {
    position: static;
    margin: 0; padding: 0;
    width: 100%; height: 100%;
    display: inline-block;
    overflow: visible; overflow-x: hidden;
    /* undo Dz.onresize */
    transform: none !important;
  }
  .view head, .view head > title { display: block }
  section {
    position: absolute;
    pointer-events: none;
    width: 100%; height: 100%;
  }
  .view section {
    pointer-events: auto;
    position: static;
    width: 800px; height: 600px;
    margin: -150px -200px;
    float: left;

    transform: scale(.4);
  }
  .view section > * { pointer-events: none; }
  section[aria-selected] { pointer-events: auto; }
  html { overflow: hidden; }
  html.view { overflow: visible; }
  body.loaded { display: block; }
  .next:not([active]) {visibility: hidden; }
  #progress-bar{
    bottom: 0;
    position: absolute;
    transition: width 400ms linear 0s;
  }
  .view #progress-bar {
    display: none;
  }
  header {
    text-align: right;
    position: absolute;
    top: 0;
    width: 100%;
  }
  footer {
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .view header { display: none; }
  .view footer { display: none; }

@media print {
  section {
    transition: none;
    transform: none;
    position: static;
    page-break-inside: avoid;
  }
  body { overflow: visible; }
  #progress-bar{ display:none; }
}

/*
   **************************************
   Uncomment the following for 16:9 slides
   **************************************

  html { font-size: 12px; }
  body { height: 450px; }
  .view section {
    height: 450px;
    margin: -140px -200px;
    transform: scale(.3);
  }
*/
</style>

<script>
  var Dz = {
    remoteWindows: [],
    idx: -1,
    step: 0,
    html: null,
    slides: null,
    progressBar : null,
    params: {
      autoplay: "1"
    }
  };

  Dz.init = function() {
    document.body.className = "loaded";
    this.slides = Array.prototype.slice.call($$("body > section"));
    this.progressBar = $("#progress-bar");
    this.html = document.body.parentNode;
    this.setupParams();
    this.onhashchange();
    this.setupTouchEvents();
    this.onresize();
    this.setupView();
  }

  Dz.setupParams = function() {
    var p = window.location.search.substr(1).split('&');
    p.forEach(function(e, i, a) {
      var keyVal = e.split('=');
      Dz.params[keyVal[0]] = decodeURIComponent(keyVal[1]);
    });
  // Specific params handling
    if (!+this.params.autoplay)
      $$.forEach($$("video"), function(v){ v.controls = true });
  }

  Dz.onkeydown = function(aEvent) {
    // Don't intercept keyboard shortcuts
    if (aEvent.altKey
      || aEvent.ctrlKey
      || aEvent.metaKey
      || aEvent.shiftKey) {
      return;
    }
    if ( aEvent.keyCode == 37 // left arrow
      || aEvent.keyCode == 38 // up arrow
      || aEvent.keyCode == 33 // page up
    ) {
      aEvent.preventDefault();
      this.back();
    }
    if ( aEvent.keyCode == 39 // right arrow
      || aEvent.keyCode == 40 // down arrow
      || aEvent.keyCode == 34 // page down
    ) {
      aEvent.preventDefault();
      this.forward();
    }
    if (aEvent.keyCode == 35) { // end
      aEvent.preventDefault();
      this.goEnd();
    }
    if (aEvent.keyCode == 36) { // home
      aEvent.preventDefault();
      this.goStart();
    }
    if (aEvent.keyCode == 32) { // space
      aEvent.preventDefault();
      this.toggleContent();
    }
    if (aEvent.keyCode == 70) { // f
      aEvent.preventDefault();
      this.goFullscreen();
    }
    if (aEvent.keyCode == 79    //o
     || aEvent.keyCode == 27    //Esc
    ) {
      aEvent.preventDefault();
      this.toggleView();
    }
  }

  /* Touch Events */

  Dz.setupTouchEvents = function() {
    var orgX, newX;
    var tracking = false;

    var db = document.body;
    db.addEventListener("touchstart", start.bind(this), false);
    db.addEventListener("touchmove", move.bind(this), false);

    function start(aEvent) {
      aEvent.preventDefault();
      tracking = true;
      orgX = aEvent.changedTouches[0].pageX;
    }

    function move(aEvent) {
      if (!tracking) return;
      newX = aEvent.changedTouches[0].pageX;
      if (orgX - newX > 100) {
        tracking = false;
        this.forward();
      } else {
        if (orgX - newX < -100) {
          tracking = false;
          this.back();
        }
      }
    }
  }

  Dz.setupView = function() {
    document.body.addEventListener("click", function ( e ) {
      if (!Dz.html.classList.contains("view")) return;
      if (!e.target || e.target.nodeName != "SECTION") return;

      Dz.html.classList.remove("view");
      Dz.setCursor(Dz.slides.indexOf(e.target) + 1);
    }, false);
  }

  /* Adapt the size of the slides to the window */

  Dz.onresize = function() {
    var db = document.body;
    var sx = db.clientWidth / window.innerWidth;
    var sy = db.clientHeight / window.innerHeight;
    var transform = "scale(" + (1/Math.max(sx, sy)) + ")";
    db.style.transform = transform;
    db.style.marginTop = -db.clientHeight / 2 + "px";
    db.style.marginLeft = -db.clientWidth / 2 + "px";
  }


  Dz.getNotes = function(aIdx) {
    var s = $("section:nth-of-type(" + aIdx + ")");
    var d = s.$("[role='note']");
    return d ? d.innerHTML : "";
  }

  Dz.onmessage = function(aEvent) {
    var argv = aEvent.data.split(" "), argc = argv.length;
    argv.forEach(function(e, i, a) { a[i] = decodeURIComponent(e) });
    var win = aEvent.source;
    if (argv[0] === "REGISTER" && argc === 1) {
      this.remoteWindows.push(win);
      this.postMsg(win, "REGISTERED", document.title, this.slides.length);
      this.postMsg(win, "CURSOR", this.idx + "." + this.step);
      return;
    }
    if (argv[0] === "BACK" && argc === 1)
      this.back();
    if (argv[0] === "FORWARD" && argc === 1)
      this.forward();
    if (argv[0] === "START" && argc === 1)
      this.goStart();
    if (argv[0] === "END" && argc === 1)
      this.goEnd();
    if (argv[0] === "TOGGLE_CONTENT" && argc === 1)
      this.toggleContent();
    if (argv[0] === "SET_CURSOR" && argc === 2)
      window.location.hash = "#" + argv[1];
    if (argv[0] === "GET_CURSOR" && argc === 1)
      this.postMsg(win, "CURSOR", this.idx + "." + this.step);
    if (argv[0] === "GET_NOTES" && argc === 1)
      this.postMsg(win, "NOTES", this.getNotes(this.idx));
  }

  Dz.toggleContent = function() {
    // If a Video is present in this new slide, play it.
    // If a Video is present in the previous slide, stop it.
    var s = $("section[aria-selected]");
    if (s) {
      var video = s.$("video");
      if (video) {
        if (video.ended || video.paused) {
          video.play();
        } else {
          video.pause();
        }
      }
    }
  }

  Dz.setCursor = function(aIdx, aStep) {
    // If the user change the slide number in the URL bar, jump
    // to this slide.
    aStep = (aStep != 0 && typeof aStep !== "undefined") ? "." + aStep : ".0";
    window.location.hash = "#" + aIdx + aStep;
  }

  Dz.onhashchange = function() {
    var cursor = window.location.hash.split("#"),
        newidx = 1,
        newstep = 0;
    if (cursor.length == 2) {
      newidx = ~~cursor[1].split(".")[0];
      newstep = ~~cursor[1].split(".")[1];
      if (newstep > Dz.slides[newidx - 1].$$('.next').length) {
        newstep = 0;
        newidx++;
      }
    }
    this.setProgress(newidx, newstep);
    if (newidx != this.idx) {
      this.setSlide(newidx);
    }
    if (newstep != this.step) {
      this.setIncremental(newstep);
    }
    for (var i = 0; i < this.remoteWindows.length; i++) {
      this.postMsg(this.remoteWindows[i], "CURSOR", this.idx + "." + this.step);
    }
  }

  Dz.back = function() {
    if (this.idx == 1) {
      return;
    }
    this.setCursor(this.idx - 1,
                   this.slides[this.idx - 2].$$('.next[active]').length);
  }

  Dz.forward = function() {
    if (this.idx >= this.slides.length &&
        this.step >= this.slides[this.idx - 1].$$('.next').length) {
        return;
    }
    if (this.html.classList.contains("view") ||
        this.step >= this.slides[this.idx - 1].$$('.next').length) {
      this.setCursor(this.idx + 1,
                     this.slides[this.idx].$$('.next[active]').length);
    } else {
      this.setCursor(this.idx, this.step + 1);
    }
  }

  Dz.goStart = function() {
    this.setCursor(1, 0);
  }

  Dz.goEnd = function() {
    var lastIdx = this.slides.length;
    var lastStep = this.slides[lastIdx - 1].$$('.next').length;
    this.setCursor(lastIdx, lastStep);
  }

  Dz.toggleView = function() {
    this.html.classList.toggle("view");

    if (this.html.classList.contains("view")) {
      $("section[aria-selected]").scrollIntoView(true);
    }
  }

  Dz.setSlide = function(aIdx) {
    this.idx = aIdx;
    var old = $("section[aria-selected]");
    var next = $("section:nth-of-type("+ this.idx +")");
    if (old) {
      old.removeAttribute("aria-selected");
      var video = old.$("video");
      if (video) {
        video.pause();
      }
    }
    if (next) {
      next.setAttribute("aria-selected", "true");
      if (this.html.classList.contains("view")) {
        next.scrollIntoView();
      } else {
        var video = next.$("video");
        if (video && !!+this.params.autoplay) {
          video.play();
        }
      }
    } else {
      // That should not happen
      this.idx = -1;
      // console.warn("Slide doesn't exist.");
    }
  }

  Dz.setIncremental = function(aStep) {
    this.step = aStep;
    var incrementals = Array.prototype.slice.call(this.slides[this.idx - 1].$$('.next')).sort(function(a, b) {
            return Number(a.getAttribute('next-order')) - Number(b.getAttribute('next-order'));
          });
    var next = incrementals[this.step - 1];
    if (next) {
      next.setAttribute('active', true);
    } else {
      this.setCursor(this.idx, 0);
    }
    return next;
  }

  Dz.goFullscreen = function() {
    var html = $('html'),
        requestFullscreen = html.requestFullscreen || html.requestFullScreen || html.mozRequestFullScreen || html.webkitRequestFullScreen;
    if (requestFullscreen) {
      requestFullscreen.apply(html);
    }
  }
  
  Dz.setProgress = function(aIdx, aStep) {
    var slide = $("section:nth-of-type("+ aIdx +")");
    if (!slide)
      return;
    var steps = slide.$$('.next').length + 1,
        slideSize = 100 / (this.slides.length - 1),
        stepSize = slideSize / steps;
    this.progressBar.style.width = ((aIdx - 1) * slideSize + aStep * stepSize) + '%';
  }
  
  Dz.postMsg = function(aWin, aMsg) { // [arg0, [arg1...]]
    aMsg = [aMsg];
    for (var i = 2; i < arguments.length; i++)
      aMsg.push(encodeURIComponent(arguments[i]));
    aWin.postMessage(aMsg.join(" "), "*");
  }
  
  function init() {
    Dz.init();
    window.onkeydown = Dz.onkeydown.bind(Dz);
    window.onresize = Dz.onresize.bind(Dz);
    window.onhashchange = Dz.onhashchange.bind(Dz);
    window.onmessage = Dz.onmessage.bind(Dz);
  }

  window.onload = init;

  // Helpers
  if (!Function.prototype.bind) {
    Function.prototype.bind = function (oThis) {

      // closest thing possible to the ECMAScript 5 internal IsCallable
      // function 
      if (typeof this !== "function")
      throw new TypeError(
        "Function.prototype.bind - what is trying to be fBound is not callable"
      );

      var aArgs = Array.prototype.slice.call(arguments, 1),
          fToBind = this,
          fNOP = function () {},
          fBound = function () {
            return fToBind.apply( this instanceof fNOP ? this : oThis || window,
                   aArgs.concat(Array.prototype.slice.call(arguments)));
          };

      fNOP.prototype = this.prototype;
      fBound.prototype = new fNOP();

      return fBound;
    };
  }

  var $ = (HTMLElement.prototype.$ = function(aQuery) {
    return this.querySelector(aQuery);
  }).bind(document);

  var $$ = (HTMLElement.prototype.$$ = function(aQuery) {
    return this.querySelectorAll(aQuery);
  }).bind(document);

  $$.forEach = function(nodeList, fun) {
    Array.prototype.forEach.call(nodeList, fun);
  }

</script>
<!-- vim: set fdm=marker: }}} -->
